.myClass:hover {
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
          transition: all 0.3s ease-in-out; /*added by Abdullah to makes the animations more reponsive */
}

.myClass {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 17rem;
  transition: all 0.3s ease-in-out;  /*added by Abdullah to makes the animations more reponsive */
}

#textFont {
  font-family: Century Gothic;
}

.top-p {
  margin-top: 5rem;
}

@media only screen and (max-width: 1199px) {
  .myClass {
    height: 13rem;
  }
}

@media only screen and (max-width: 992px) {
  .myClass {
    height: 15rem;
  }
}

@media only screen and (max-width: 768px) {
  .myClass {
    height: 17rem;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 22px;
  right: 33px;
  cursor: none;
}

.bouncy {
  background-color: #135d7500;
  font-weight: bold;
  color: black;
}

.bouncy:hover {
  background-color: #135d751b;
}