<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
       <ol><h6>About</h6></ol>
        <p class="text-justify">

          <br>
          <ol>We work hand in hand with you and your vendor team to create a relaxed,stress-free day experience
          with simple questionnaires and convos around what's most important to you!
          <br>
          We'll deliver the fully edited (and gorgeous) online gallery for you to re-live all those incredible moments!
</ol>


      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <br>
        <ul class="footer-links">
          <li><a href="">Home</a></li>
          <br>
          <li><a href="">About us</a></li>
          <br>
          <li><a href="">Portofolio</a></li>
          <br>
          <li><a href="">Galery</a></li>

        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <br>
        <ul class="footer-links">
          <li><a routerLink="/bio-about">About Us</a></li>
          <br>
          <li><a routerLink="/contact-register">Contact Us</a></li>
          <br>
          <li><a href="">Privacy Policy</a></li>
          <br>
          <li><a
              href="https://www.google.com/maps/d/viewer?mid=1qeHORhHtYlSrV_YY3PsSYccOYVQ&hl=en_US&ll=48.21515445325879%2C16.717852999999998&z=10">Sitemap</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">Project Team 9 & friends</a>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>


        </ul>
      </div>
    </div>
  </div>
</footer>

