<section class="main">
    <article class="main-img container">
      <h2>Behind the lens</h2>
    </article>
  </section>
  
  <section class="middle container text-center p-5">
    <h1>
      We met in college. We were in a film class that explored the question, “What
      is the good life?”
    </h1>
    <article class="row my-5">
      <div class="col-md-4">
        <p>
          WE believe in connection <br />who's over what's <br />no phone date
          nights <br />& present over perfect
        </p>
        <img src="assets/img/1jpg.jpg" alt="" />
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="assets/img/2jpg.jpg" alt="" />
      </div>
      <div class="col-md-4">
        <p>
          Over the last 12 years (whether we knew it or not) we pursued this
          question. We failed, we prospered, we took really big risks, we fought,
          laughed, cried and found that the answer didn’t lie in any destination…
          but in the process of growing, learning, and finding joy in life's quiet
          moments.
        </p>
        <p>
          I suppose that’s why we’re here now. This really happy accident of
          becoming photographers emerged from fiercely chasing after “the good
          life” and finding it right in front of us - in the people we meet, the
          stories we’re welcomed into, and the moments witnessed and experienced.
          This is the heart behind what we do. To create image that show it all -
          our humanness in split seconds.
        </p>
      </div>
    </article>
  </section>
  
  <section class="video">
    <video width="100%" height="800px" controls autoplay>
      <source src="assets/media/video.mp4" />
    </video>
  </section>
  
  <section class="about us container py-5">
    <h4 class="display-5">What fuels us</h4>
    <div class="row">
      <div class="text col-md-4 py-5">
        <h3>
          <p>Family</p>
          Over the last 12 years (whether we knew it or not) we pursued this
          question. We failed, we prospered, we took really big risks, we fought,
          laughed, cried and found that the answer didn’t lie in any destination…
        </h3>
      </div>
      <div class="col-md-4">
        <img class="img-fluid" src="assets/img/about.jpeg" alt="" />
      </div>
      <div class="col-md-4 d-flex text-center py-5">
        <ul>
          <li><a class="my-5" href="">Family</a></li>
          <br />
          <li><a class="my-5" href="">Connection</a></li>
          <br />
  
          <li><a href="">Travel</a></li>
          <br />
  
          <li><a href="">Slow life</a></li>
        </ul>
      </div>
    </div>
  </section>
  
  <section class="about-one"></section>
  
  <section class="bio container-bio">
    <article class="row">
      <div class="col-md-6">
        <img class="img-fluid" src="assets/img/bio.jpg" alt="" />
      </div>
      <div class="text1 col-md-6">
        <h2>Meet Brad</h2>
        One of the kindest, most genuine people I know–he doesn’t know a stranger.
        Brad is a northern boy with a love for the outdoors, a knack for finding
        new music, and a risk-taker at heart who tends to talk me into new and
        wild adventures like paragliding in the Swiss Alps. The way he loves
        others is nothing short of inspiring to anyone who knows him. He’s always
        seeking a way to see the world differently through the lens. If Brad had a
        free Saturday, he would wake up with a pour over and spin a record from
        our growing collection (thanks VMP). Then he’d grab a Wendell Berry novel,
        hammock, and spend the afternoon in the park before dinner and bourbon
        (neat) at Rolf & Daughters with a few close friends.
      </div>
    </article>
    <article class="row my-5">
      <div class="text1 col-md-6">
        <h2>Meet Jen</h2>
        Someday our kids will wake up to a stack of her journals, and the stories
        upon stories of her life will unfold into this beautiful mess of love,
        laughter, challenges, and victories. Jen documents everything. Our home is
        full of new and old journals that bleed ink and shed paper. They’re full
        of her life’s thoughts, her ideas for raising our son, future paintings,
        dreams for new adventures across the world, what recipes she loves at the
        time (thank you Sprouted Kitchen), and how our couples inspire her
        marriage. Jen is incredibly strong and wise and I love gleaning from her
        wisdom. If Jen had a free Saturday, she would wake up with a pour over, a
        tasty brunch and good book, followed by an afternoon of kayaking and
        hanging with friends in the backyard under bulb light
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="assets/img/bio2.jpg" alt="" />
      </div>
    </article>
  </section>
  