<div>
    <br><br>
    <h1 id="header">Weddings, Landscape, Portrait, we got it all...</h1>
    <br>
    <div id="swiperDiv">
        <swiper
            [spaceBetween]="30"
            [centeredSlides]="true"
            [effect]="'fade'"
            [autoplay]="{
                delay: 1500,
                disableOnInteraction: false
            }"
            [navigation]="true"
            [pagination]="{
            clickable: true
            }"
            class="mySwiper">
            
            <ng-template swiperSlide>
            <img src="https://images.unsplash.com/photo-1564072021684-429ab786cffb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80" />
            </ng-template>

            <ng-template swiperSlide>
            <img src="https://images.unsplash.com/photo-1524261185784-f3d0c95e3fc4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80" />
            </ng-template>

            <ng-template swiperSlide>
            <img src="https://images.unsplash.com/photo-1491622652925-46646d8a603d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1882&q=80" />
            </ng-template>

            <ng-template swiperSlide>
                <img src="https://images.unsplash.com/photo-1463171515643-952cee54d42a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" />
            </ng-template>

            <ng-template swiperSlide>
                <img src="https://images.unsplash.com/photo-1533132902598-b968c193a3c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" />
            </ng-template>

            <ng-template swiperSlide>
            <img src="https://images.unsplash.com/photo-1543959243-497a80d3c9a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1878&q=80"/>
            </ng-template>

            <ng-template swiperSlide>
                <img src="https://images.unsplash.com/photo-1516542241506-ef0f5246dc91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" />
            </ng-template>

            <ng-template swiperSlide>
                <img src="https://images.unsplash.com/photo-1516913840875-366de3e463bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" />
            </ng-template>

            <ng-template swiperSlide>
                <img src="https://images.unsplash.com/photo-1514451858099-83d802598681?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1752&q=80" />
            </ng-template>

            <ng-template swiperSlide>
                <img src="https://images.unsplash.com/photo-1460978812857-470ed1c77af0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1895&q=80" />
            </ng-template>

            <ng-template swiperSlide>
                <img src="https://images.unsplash.com/photo-1514830067110-6920033ad6bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" />
            </ng-template>
        </swiper>
    </div>
</div>
<br><br><br><br><br><br>
<h1 id="middleHeader">For the unfussy, hearts on your sleeves,<br> tears on your cheeks couples</h1>
<br>
<p id="middleParagaph">The ones who love boldly, dare greatly, and seek the good in everyday.</p>
<br><br><br><br><br><br>
<div id="middleDiv">
    <p id="comment">“No story has power, nor will it last, unless we feel<br> in ourselves that it is true and true of us.”</p>
    <br>
    <div>
        <p id="name">-William Feuerstein</p>
    </div>
</div>
<br><br><br><br><br><br>

