<div class="d-flex justify-content-center" id="top3">
    <div class="container justify-content-center">
        <div class="row justify-content-center">


            <img class="img-fluid1 w-50" src="./assets/img/awards1.png" alt="">
        </div>
    </div>
</div>

<div class="d-flex py-5 justify-content-center">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <h6 class="text-center title1"> LANDSCAPE PHOTOGRAPHY CONTEST WINNER 2021</h6>
            <h6 class="text-center title2">AWARD WINNER PHOTOGRAPHY BY JOHN SMITH</h6>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class=" justify-content-center">
        <div class="row justify-content-center mouse-invisible">


            <img src="https://yaffa-cdn.s3.amazonaws.com/yaffadsp/images/dmImage/StandardImage/29331_tanmay_sapkal_comet-neowise-setting.jpg" alt="">
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
<div class="d-flex justify-content-center">
    <div class=" justify-content-center">
        <div class="row justify-content-center mouse-invisible">


            <img src="./assets/img/awards3.jpg" alt="">
        </div>
    </div>
</div>

<br>
<div class="d-flex  justify-content-center">
    <div class=" justify-content-center">
        <div class="row justify-content-center mouse-invisible">


            <img src="./assets/img/awards4.jpg" alt="">
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>
<div class="d-flex py-5 justify-content-center">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <h6 class="text-center textAward p-5"> The 2021 International Landscape Photograph of the Year award (for the best single image) was taken on J. Smith, located in Marin country, just north of San Francisco by photographer Tanmay Sapkal. <br> <br> “It is quite a special place for photographers as it stands above the local landscape which is engulfed in low coastal fog almost every summer evening," explained Tanmay. <br><br>

                "After shooting there tens of times over the last four years, I realised that I really liked the way fog looks when it is lit from underneath. I also realised that the comet would become visible in the north west sky, so I started planning this shot. <br><br>
                
                “It wasn’t possible to line up the comet exactly above the foreground I wanted, so I decided to take two separate exposures. It took a couple of visits to get just the right amount of fog on the hills to create the dreamy setting and then I waited patiently for some cars to drive by and create a blanket of light under the fog. <br><br>
                
                “After shooting for more than a few hours that night, my friend and I hurried back down to the car. Little did we know that parking on the mountain after sunset meant getting a parking ticket! But now, in my opinion, it's the best $80 I have ever spent on parking! Ha ha!” 
                
                </h6>
        </div>
    </div>
</div>


<div class="d-flex py-5 justify-content-center">
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <h6 class="text-center title2">© Team-9</h6>
        </div>
    </div>
</div>

<button (click)="gotoTop()" class="scroll-to-top btn btn-outline-secondary"><i class="fa-solid fa-angles-up"></i></button>